@{
    ViewBag.Title = "Home Page";
}

<section class="global-page-header">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="block">
                    <h2>Welcome To Johns BlogSpot</h2>
                </div>
            </div>
        </div>
    </div>
</section>


<section id="hero-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="block wow fadeInUp" data-wow-delay=".3s">
                    <!-- Slider -->
                    <section class="cd-intro">
                        <h1 class="wow fadeInUp animated cd-headline slide" data-wow-delay=".4s">
                            <span>HI, MY NAME IS JOHN MAHONEY & I AM A</span><br>
                            <span class="cd-words-wrapper">
                                <b class="is-visible">DESIGNER</b>
                                <b>DEVELOPER</b>
                                <b>BLOGGER</b>
                            </span>
                        </h1>
                    </section> <!-- cd-intro -->
                    <!-- /.slider -->
                </div>
            </div>
        </div>
    </div>
</section>