
@{
    ViewBag.Title = "Thanks";
}

<section class="global-page-header">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="block">
                    <h2>Thanks!</h2>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="container">
    <h3>Thank you for sending an Email!</h3>

    <br />
    <div class="blog-content">
        <a class="btn btn-dafault btn-details" href="@Url.Action("Index", "Home")">Go Back</a>
    </div>
</div>

