@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<section class="global-page-header">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="block">
                    <h2>Error</h2>
                </div>
            </div>
        </div>
    </div>
</section>

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">An error occurred while processing your request make sure all fields are valid.</h2>

