@model IEnumerable<BlogProject.Models.BlogPost>

@{
    ViewBag.Title = "Index";
    Layout = null;
}

<h3>Recent Posts</h3>
@{var count = 0;}
<ul>
    @foreach (var item in Model)
    {
        if (count < 5)
        {
            <li class="abstractOverflow">
                @Html.ActionLink(item.title, "Details", new { slug = item.slug })
                <br />
                @Html.DisplayFor(modelItem => item.created)
            </li>
            count++;
        }
    }
</ul>

