
.blogOverflow {
    word-wrap: break-word;
}

.abstractOverflow {
    word-break: break-all;
    display: block;
}

.navbarHead{
    color: black;
}

.navbarHead :hover{
    color: dimgray;
}

.imageBlog{
    width: 70%;
    height: 80%;
}

.imageBlog img{
    width: 100%;
    height: auto;
}